@use "../../styles/variables" as vars;

.lettersWrapper {
  // max-width: 70vw;
  height: unset;
  border-radius: 99px;
  padding:5px;
  margin: 1rem auto;
  :global(.p-card-body) {
    padding: 0ch !important;
    // background-color: red !important;
    :global(.p-card-content) {
      padding: 0px !important;
    }
  }

  :global(.p-button){
    // color: var(--primary-color);
    // padding:1rem;
    color: var(--foreground);
    font-family: vars.$fontFamily;
    font-weight: lighter !important;
    border-radius: 99px;
    height:2.5rem;
    width:2.5rem;
    text-align:center;
    line-height: 0.5rem;
  }
}
