@use "../../styles/variables" as vars;

.pageWrapper {
  width: 100vw;
  // overflow: hidden;

  &.mobile {
    margin: 2rem auto;
    height: calc(50% - 5rem);
    max-width: 100vw;
  }

  h1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    // width: 75vw;
    font-size: 15rem;
    text-align: center !important;
    word-wrap: break-word;
    font-family: vars.$fontFamily;
    margin: 0 auto;
    line-height: 0.8 !important;
    align-self: center;
    // top:20;
    color: vars.$primaryColor;
    z-index: -99;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-10vh);
    &.mobile {
      font-size: calc(8rem * 0.75);
      transform: translateY(-5vh);
      width: calc(100% - 2rem);
      margin: 0 auto;
    }

    &.noResults {
      font-size: 7rem;
      text-align: right !important;
      align-items: flex-end;
      width: 40vw;
      line-height: 1.5 !important;
      transform: unset;
    }
  }

  img {
    margin: 0 auto;
    z-index: 99;
    height: 75%;
    &.mobile {
      height: calc(80% - 2rem);
    }
  }
  .dogImage2 {
    margin: 0 auto;
    z-index: 99;
    height: 100%;
  }

  ul {
    min-width: 100%;
  }
}

.nameItem {
  font-family: vars.$fontFamily;
  font-size: 3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;

  &.isSelected {
    // background-color: vars.$primaryColor;
    color: vars.$primaryColor;
    font-size: 3.5rem;
    font-weight: 400;
  }

  &:hover {
    color: vars.$primaryColor;
  }

  &.nameIndex-0,
  &.nameIndex-6 {
    opacity: 0.25;
  }
  &.nameIndex-1,
  &.nameIndex-5 {
    opacity: 0.5;
  }
  &.nameIndex-2,
  &.nameIndex-4 {
    opacity: 0.75;
  }
}

.arrowIcon {
  height: 3rem;
  width: 3rem;
  font-size: 5rem;
}
