@use "../../styles/variables" as vars;

.pageWrapper {
  width: 100vw;

  &.mobile {
    margin: 2rem auto;
    height: calc(50% - 5rem);
  }

  h1 {
    position: absolute;
    // width: 100vw;
    font-size: 15rem;
    text-align: center !important;
    word-wrap: break-word;
    font-family: vars.$fontFamily;
    margin: 0 auto;
    line-height: 0.8 !important;
    align-self: center;
    // top:20;
    color: vars.$primaryColor;
    z-index: -99;
    transform: translateY(-10vh);
    &.mobile {
      font-size: calc(8rem * 0.75);
      transform: translateY(-5vh);
    }
  }

  img {
    margin: 2rem;
    z-index: 99;
    height: 75%;
    &.mobile {
      height: calc(80% - 2rem);
    }
  }
}
