@use "../../styles/variables" as vars;

.fontRoboto {
  font-family: vars.$fontFamily2 !important;
}

.filterWrapper {
  height: calc(5vh + 1rem) !important;
  width: 100%;
  border-top: 1px solid vars.$neutralLight;
  border-bottom: 1px solid vars.$neutralLight;
  background-color: vars.$neutralWhite;
  // outline: 1px solid vars.$primaryColor;
  &.mobile {
    height: unset !important;
  }
}

.filterContainer {
  align-self: center;
  height: 100% !important;
  &.mobile {
    height: unset !important;
  }
}

.filterTitle {
  border-right: 1px solid vars.$neutralLight;
  height: 100%;

  &:global(.border-r-0) {
    border-right: unset !important;
  }
}

.filters {
  height: 100% !important;
  box-sizing: border-box !important;
  border: 1px solid transparent;
  &:last-child {
    border-right: 1px solid vars.$neutralLight;
    &.mobile:not(.isSelected) {
      border-right: 1px solid transparent;
    }
  }

  &.isSelected,
  .isSelected::before,
  .isSelected::after {
    border: 1px solid vars.$primaryColor;
    border-bottom: 1px solid vars.$neutralWhite;
    outline: 1px solid vars.$neutralWhite;
    // outline-offset: 2px;
  }

  &.mobile {
    height: unset !important;

    &.isSelected,
    .isSelected::before,
    .isSelected::after {
      border: 1px solid vars.$primaryColor;
    }
  }
}

.optionsWrapper {
  padding: 0.5rem;
  min-height: calc(10vh - 0.5rem) !important;
  width: 100%;
  background-color: vars.$neutralWhite;
  > div {
    height: 100%;
  }

  &.mobile {
    height: unset !important;
    min-height: unset !important;
    // margin-top: 1rem;
    padding: 2rem 0.5rem;
  }
}
